<ion-header>
  <ion-toolbar>
    <ion-title>Vault</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="selectItem(0)">Add</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-searchbar
    show-clear-button="focus"
    [debounce]="500"
    (ionInput)="search($event)"
  ></ion-searchbar>

  <div class="mt-4">
    @if (filteredItems().length === 0) {
    <div class="grid place-items-center gap-2">
      <ion-label>
        <ion-text color="medium">Vault is empty.</ion-text>
      </ion-label>

      <ion-button (click)="selectItem(0)">Add new item</ion-button>
    </div>
    } @else {
    <app-list [items]="filteredItems()" (onItemClick)="selectItem($event.id)"></app-list>
    }
  </div>
</ion-content>
