<ion-content class="ion-padding">
  <div
    class="flex flex-col items-center h-full"
    style="padding-bottom: var(--ion-safe-area-bottom, 0)"
  >
    <div class="w-24 mt-36">
      <img src="icons/icon-192.png" alt="Vault logo" />
    </div>

    <div class="flex flex-col items-center mt-16">
      <div class="font-black text-2xl uppercase tracking-wider">Vault</div>
      <!-- <ion-input placeholder="Owner"></ion-input> -->
    </div>

    <ion-button class="w-32" (click)="enter()">Enter</ion-button>

    <div class="font-mono text-xs opacity-50 mt-auto">v0.0.1</div>
  </div>
</ion-content>
